* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* SELETORES */
body {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
}

/* HEADER */

header {
  overflow: hidden;
  background-color: #da36a6;
  padding: 20px;
}
.logo {
  color: white;
  float: left;
}
nav {
  float: right;
}
.itens-menu {
  color: black;
  float: left;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  border-radius: 10px;
}
.itens-menu:hover,
.itens-menu:active {
  background: #bc1888;
  color: white;
}

/* MAIN */

/* .PRODUTOS */

.title-section {
  font-size: 20px;
  background: linear-gradient(to bottom, rgb(253, 150, 167), pink);
  padding: 10px;
  margin: auto;
  text-align: center;
}
.float-image {
  max-width: 400px;
  float: right;
}
.container-produtos {
  padding: 20px;
  text-align: center;
}
.card {
  background: white;
  display: inline-block;
  border: 1px solid gray;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}
.picture {
  max-width: 200px;
}
.title-produto {
  font-size: 20px;
  margin: 10px;
  top: 10px;
}
.valor {
  padding: 25px 0px;
  color: blue;
  font-size: 25px;
  box-sizing: border-box;
}
.btn-snow {
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  padding: 10px;
  width: 85%;
  border: none;
  background: darkblue;
  border-radius: 8px;
}
.btn-snow:hover,
.btn-snow:active {
  opacity: 85%;
}
/* .FUNCIONAMENTO */
.container-funcionamento {
  overflow: hidden;
}
.horario {
  padding: 10vw;
  margin-top: 10px;
  border: 3px solid orange;
  border-radius: 8px;
  text-align: center;
  float: left;
  margin-left: 10px;
}
.days {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.hours {
  font-size: 30px;
  font-weight: bold;
}

/* CONTATOS */
.container-contato {
  overflow: hidden;
  padding: 10px;
}
.list-contato {
  float: left;
  padding: 10vw;
  border: 3px solid orange;
  border-radius: 8px;
  text-align: center;
}
.midea-title {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  bottom: 20px;
}
.midea-itens {
  text-align: center;
  max-width: 200px;
  color: white;
  padding: 10px 50px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.whats {
  background: green;
}
.face {
  background: blue;
}
.insta {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
