* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* SELETORES */
body {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  padding: 20px;
  background: purple;
}
.logo {
  color: rgb(243, 243, 187);
}
.header-menu {
  display: flex;
  gap: 20px;
}
.menu-item {
  color: gold;
  padding: 5px;
}
.menu-item:hover {
  background: #be248d;
  border-radius: 8px;
}

/* MAIN */

.title-section {
  font-size: 20px;
  background: linear-gradient(to bottom, rgb(253, 150, 167), pink);
  padding: 15px;
  margin: auto;
  text-align: center;

}

/* WELLCOME */

.wellcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px;

}
.wellcome-title{
  font-size: 30px;
  font-weight: lighter;
}
.wellcome-mensage{
  color: rgb(90, 0, 90);
  font-size: 20px;
  margin-bottom: 50px;
}
.wellcome-button{
  font-size: 25px;
  color: yellow;
  background: rgb(212, 0, 212);
  padding: 20px 30px;
  border-radius:  20px 0 20px 0 ;
}

/* .PRODUTOS */

.container-produtos {
  padding: 20px;
  text-align: center;
}
.card {
  background: white;
  display: inline-block;
  border: 1px solid gray;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}
.picture {
  max-width: 200px;
}
.title-produto {
  font-size: 20px;
  margin-top: 5px;
  width: 100%;
}
.valor {
  padding: 25px 0px;
  color: rgb(15, 136, 96);
  font-size: 25px;
}
.btn-snow {
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  padding: 10px;
  width: 85%;
  border: none;
  background: purple;
  border-radius: 8px;
}
.btn-snow:hover,
.btn-snow:active {
  opacity: 85%;
}
/* CONTATOS */
.container-contato {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.midea-title {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
}
.midea-itens {
  text-align: center;
  width: 100%;
  color: white;
  padding: 30px;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.whats {
  background: green;
}
.face {
  background: blue;
}
.insta {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
