* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* SELETORES */
body {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
}

/* HEADER */

header {
  overflow: hidden;
  background-color: #da36a6;
  padding: 20px;
  border-end-start-radius: 30px;
}
.logo {
  color: white;
  float: left;
}
nav {
  float: right;
}
.itens-menu {
  color: black;
  float: left;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  border-radius: 10px;
}
.itens-menu:hover,
.itens-menu:active {
  background: #bc1888;
  color: white;
}

/* MAIN */

.title-section {
  font-size: 20px;
  background: linear-gradient(to bottom, rgb(253, 150, 167), pink);
  padding: 10px;
  margin: auto;
  text-align: center;
}

/* ABOUT */
.about{
  overflow: hidden;
}

.container-about{
  float: left;
  max-width: 400px;
  text-align: center;
  padding: 10px;
  margin: 100px;
}
.title-about, .content-about{
  margin-bottom: 10px;
}
.title-about{
  font-size: 30px;
}
.content-about{
  font-size: 20px;
  
}
.btn-produtos{
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgb(148, 0, 148), rgb(240, 0, 240));
}
.image-right{
  float: right;
  max-width: 300px;

}

/* .PRODUTOS */

.container-produtos {
  padding: 20px;
  text-align: center;
}
.card {
  background: white;
  display: inline-block;
  border: 1px solid gray;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}
.picture {
  max-width: 200px;
}
.title-produto {
  font-size: 20px;
  margin-top: 5px;
  width: 100%;
}
.valor {
  padding: 25px 0px;
  color: rgb(15, 136, 96);
  font-size: 25px;
  box-sizing: border-box;
}
.btn-snow {
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  padding: 10px;
  width: 85%;
  border: none;
  background: purple;
  border-radius: 8px;
}
.btn-snow:hover,
.btn-snow:active {
  opacity: 85%;
}
/* CONTATOS */
.container-contato {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.midea-title {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bold;
}
.midea-list{
  
}
.midea-itens {
  text-align: center;
  width: 100%;
  color: white;
  padding: 30px;
  font-size: 20px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.whats {
  background: green;
}
.face {
  background: blue;
}
.insta {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}
